CONFIG_QCA_CNSS_PCI_SUPPORT=y
CONFIG_QCA_CNSS_DEBUG_SUPPORT=y
CONFIG_QCA_CNSS_STREAM_MOD=y
CONFIG_MHI_BUS_MISC=y
CONFIG_CNSS_OUT_OF_TREE=y
CONFIG_BUILD_OWRT=y
CONFIG_TARGET_SDX85=y
CONFIG_QCA_CNSS_LINUX_6_x_SUPPORT=y
CONFIG_TARGET_SDX_WKK=y
CONFIG_CNSS_PCI_SUPPORT=y
